
body {
    background-color: #468df1;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 5%;

}

h1 {
    font-weight: 300;
    font-size: 55px;
}

h2 {
    font-weight: 100;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    height: 50px;
    }

td, th {
        border-bottom: 1px solid white;

/*** CLASSES ***/

.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    border: 1px solid black;
    flex: 1;
}

.graph {
    border: 1px solid black;

    flex: 1;
}

.pages {
    border: 1px solid black;

    flex: 1;

}

.bottom {
    border: 1px solid black;

    flex: 1;

}

.fas {
    color: white;
}