body {
    background-color: #468df1;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 5%;

}

h1 {
    font-weight: 300;
    font-size: 70px;
}

h2 {
    font-weight: 100;
    font-size: 22px;
}

h3 {
font-weight: 300;
font-size: 20px;
letter-spacing: 3px;
}


/*** CLASSES ***/

.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
}

.graph {
    flex: 1;
    width: 100%;
}

.pages {

    flex: 1;

}

.bottom {
display: flex;
    flex: 1;
    justify-content: flex-end;
    border-top: 1px solid white;
}

.fas {
    color: white;
}

.table-pages {
    width: 100%;
    padding-bottom: 30px;
}

.table-pages th {
    text-align: left;
}

.table-pages td {
    height: 50px;
}

.table-pages td,
th {
    border-bottom: 1px solid white;
}


.graph-img {
    min-width: 100%;
}


.text-border {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

.no-border td {
    border-bottom: none;
}

/***** MEDIA QUERIES *****/


@media screen and (min-width: 480px) and (max-width: 1024px) {
.graph-img {
    width: 50%;
}
h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

h3 {
font-size: 18px;
letter-spacing: 1px;
}

}


@media screen and (max-width: 480px) {
    .graph-img {
        width: 25%;
    }
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
    font-size: 16px;
    letter-spacing: 1px;
    }
}