* {
    box-sizing: border-box;
}

h3 {
    color: #7dd87d;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

p {
    color: #838383;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    justify-content: center;
    align-content: center;
}


/***** CLASSES *****/

.grid-container {
    grid-gap: 50px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    margin: 7%;
}

.grid-item {
    width: 235px;
    line-height: 25px;
}

.resize {
 margin-left: 20%;
    width: 60%;
}

.emphasis { 
    letter-spacing: 3px;
    font-size: 15px;
}

/***** MEDIA QUERIES *****/

@media only screen and (max-width: 700px) {
    .grid-container {
        display: inline-grid;
        grid-template:
            'auto'
            'auto'
            'auto'
            'auto';
        grid-row-gap: 50px;
    }
}